html body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1200px;
    margin: auto;
    display: flex;
}

.albums {
    width: 300px;
}

.albums a {
    margin: 0;
    padding: 0;
    list-style: none;
}

.albums ul li {
    padding: 10px;
    border-bottom: 1px solid lavender;
    margin-bottom: 10px;
    cursor: pointer;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    color: darkgreen;
}

.albums ul li:hover, .selected {
    background-color: aliceblue;
}

.no-album-selected {
   font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: darkred;
    flex: 1;
}

.photos {
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    height: 100%;
    margin-top: 20px;
    margin-left: 30px;
}

.photo {
    margin: 5px 5px;
    cursor: pointer;
}