.container {
    width: 1200px;
    margin: auto;
    display: flex;
}

.albums {
    width: 300px;
}

.photos {
    flex: 1;
}

.albums a {
    margin: 0;
    padding: 0;
    list-style: none;
}

.albums a li {
    padding: 10px;
    border-bottom: 1px solid lavender;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.albums a li:hover {
    background-color: aliceblue;
}

.no-album-selected {
   font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: darkred;
    flex: 1;
}

.photos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.photo {
    margin: 5px 5px;
    cursor: pointer;
}